body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #000;
    background: url("/static/css/imgs/pic.jpg");
    background-color: #fff;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.firstone {
    margin-top: 10px;
    background-color: #fff;
    color: #000;
    opacity: 0.98;
    border: 0px solid #E0DDCE;
}

.headhere {
	font-size: 40px;
    color: #000;
}

.texthere {
	font-size: 18px;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
}

/* ADMIN ADD DATA PAGE STUFF */

.adminlab {
    background-color: #fff;
    color: #000;
    opacity: 0.98;
}

.headhere1 {
    font-size: 10px;
    color: #000;
}

.texthere1 {
    font-size: 8px;
}


.cleanshape {
    margin:50px;
    margin-top:30px;
}


/* BUTTONS */

button{
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.37);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.698) inset, 0 1px 0 0 rgba(0, 0, 0, 0.075);
    color: #595959;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin: 0;
    padding: 8px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    transition: all 0.2s ease 0s;
    vertical-align: middle;
}
button:hover {
    background-color: #F6F6F6;
    outline: medium none;
}
button:focus{
    outline: medium none;
}
button:active, .button.active{
    background-color: #DDDDDD;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075) inset;
    outline: medium none;
    transition: none 0s ease 0s;
}

/* toggle box */

.toggle {
    float: left;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.toggle .fa-bars {
    cursor: pointer;
    display: inline-block;
    font-size: 40px;
}


/* end  */

ul.logout {
    color: #293155;
    font-size: 12px;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    border: 5px solid #E0DDCE;
    padding: 4px 4px;
    margin-right: 15px;
    background: #293155;
    margin-top: 30px;
}

a.logouthere {
    color: #000000;
    background-color: #ffffff;
    border-radius: 100px;
}

a.logouthere:hover {
    background-color: pink !important;
}


/* main site stuff */


#main-content {
    margin-left: 60px;
    margin-right: 60px;
}

a:hover{
    text-decoration: none;
}

.description {
    margin-top: 10px;
    background-color: #000;
    color: #000;
    opacity: 0.98;
    border: 0px solid #E0DDCE;
}

.options {
    margin-top: 10px;
    background-color: #fff;
    color: pink;
    opacity: 0.98;
    border: 0px solid #E0DDCE;
}

/* STUDENT COLOR */

.currentlab {
    background: #4fc1e9;
    opacity:0.98;
    text-align: center;
}

.currentlab i {
    color: #ffffff;
    margin-top: 60px;
}

.currentlab p {
    color: #f5f5f5;
    margin: 40px;
}

a:hover{
    text-decoration: none;
}

.pastlabs {
    background: #0bdb8f;
    opacity: 0.98;
    text-align: center;
}
.pastlabs i {
    color: white;
    margin-top: 60px;
}
.pastlabs p {
    color: #f5f5f5;
    margin: 40px;
}

.groups {
    background: #f76a89;
    opacity:0.98;
    text-align: center;
}
.groups i {
    color: white;
    margin-top: 60px;
}
.groups p {
    color: #f5f5f5;
    margin: 40px;
}

a:hover{
    text-decoration: none !important;
}

/* adapted */

.mt {
    margin-top: 25px;
}

.mb {
    margin-bottom: 25px;
}

.wrapper {
    display: inline-block;
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 0px;
    width: 100%;
}

/* ADMIN COLORS */

.add {
    background: #505250;
    opacity:0.98;
    text-align: center;
}

.add i {
    color: #ffffff;
    margin-top: 60px;
}

.add p {
    color: #f5f5f5;
    margin: 40px;
}



.retrieve {
    background: #505250;
    opacity:0.98;
    text-align: center;
}

.retrieve i {
    color: #ffffff;
    margin-top: 60px;
}

.retrieve p {
    color: #f5f5f5;
    margin: 40px;
}

.groups-admin {
    background: #505250;
    opacity:0.98;
    text-align: center;
}

.groups-admin i {
    color: #ffffff;
    margin-top: 60px;
}

.groups-admin p {
    color: #f5f5f5;
    margin: 40px;
}

/* CREATE LAB COLORS */




/*            */
/*            */
/*            */
/* for the login page. this is from http://bootsnipp.com/snippets/featured/google-style-login-extended-with-html5-localstorage */
/*            */
/*            */
/*            */


.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
    opacity: 0.98;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}

.remember {
	color: #000;
}

/*                                */
/*                                */
/*                                */
/*    END OF BORROWED CODE        */
/*                                */
/*                                */
/*                                */
