{% extends "layout.html" %}
{% block head %}
    <meta charset="UTF-8">
    <title>Admin Home</title>
{% endblock %}
{% block content %}
<section id="container">
    <section id="main-content">
        <section class="wrapper">

                        <!-- current labs -->
        
        <div class="col-lg-4 col-md-4 col-sm-4 mb">
            <a href="/admin_setup_labs_and_data_access">
            <div class="add">
                <i class="fa fa-plus-circle fa-4x"></i>
                <h3><p>add labs</p></h3>
                <h3><p><br></br></p></h3>
            </div>
            </a>
        </div>
    
        
        <div class="col-lg-4 col-md-4 col-sm-4 mb">
            <a href="/admin_select_lab_for_data">
            <div class="retrieve">
                <i class="fa fa-pencil fa-4x"></i>
                <h3><p>edit and retrieve</p></h3>
                <h3><p><br></br></p></h3>
            </div>
            </a>
        </div>
        
        

        <div class="col-lg-4 col-md-4 col-sm-4 mb">
            <a href="/admin_manage_users">
            <div class="groups-admin">
                <i class="fa fa-users fa-4x"></i>
                <h3><p>manage users</p></h3>
                <h3><p><br></br></p></h3>
            </div>
            </a>
        </div>
        
    </div>
    </section>
</section>
</section>
{% endblock %}