{% extends "layout.html" %}
{% block head %}
    <meta charset="UTF-8">
    <title>home_student</title>
{% endblock %}
{% block content %}
<section id="container">
    <section id="main-content">
        <section class="wrapper">

                        <!-- current labs -->
        
        <div class="col-lg-4 col-md-4 col-sm-4 mb">
            <center>
            <a href="/student_enter_data">
            <div class="add">
                <i class="fa fa-meh-o fa-4x"></i>
                <h3><p>add labs</p></h3>
                <h3><p><br></br></p></h3>
            </div>
            </a>
        </div>
    </center>

    </section>
</section>
</section>

{% endblock %}